@using MvcMovie.Models
@{
    ViewData["Title"] = "Login";
}

<h1 class="display-4" align="center">Login</h1>

<div class="row" align="center">
    <br /><br />
    <div class="col-md-4">
    </div>
    <div class="col-md-4" align="center">
        <form asp-action="Login" align="center">
            <div class="form-group" align="center">
                 <label for="LoginId" class="control-label" align="center">Password</label>
                <input id="LoginId" name="LoginId" class="form-control"
                    data-val="true" data-val-required="The ID field is required." align="center" />
                @Html.ValidationMessage("LoginID", new { @class = "text-danger" })
            </div>
            <div class="form-group" align="center">
                <label for="Password" class="control-label" align="center">Password</label>
                <input id="Password" name="Password" type="password" class="form-control"
                    data-val="true" data-val-required="The Password field is required." align="center" />
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
            </div>
            <div class="form-group" align="center">
                <input type="submit" value="Login" class="btn btn-primary" align="center"/>
            </div>
            @Html.ValidationMessage("LoginFailed", new { @class = "text-danger" })
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
