@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4" align="center">Bank of RMIT</h1>
    
    <div class="text-center" align="center">
        <img src="~/img/bank-law.jpg" alt="bank" />
    </div>
</div>

<hr />

