@using MvcMovie.Models
@model Account
@{
    ViewData["Title"] = "DateEnter";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="DateEnter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Start" class="control-label">Start Date:</label>
                <input id="Start" name="Start" class="form-control" type="datetime-local"
                />
                <label for="End" class="control-label">End Date:</label>
                <input id="End" name="End" class="form-control"  type="datetime-local"
                />
                @Html.ValidationMessage("DateWrong", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
